<div fxLayout="column" fxLayoutAlign="center center" style="height: 90vh;">
  <h2 class="mat-h2">Login</h2>
  <form fxLayout="column" fxLayoutAlign="center center" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm"
    novalidate>
    <mat-form-field [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <input matInput type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required placeholder="Username" />
    </mat-form-field>
    <div *ngIf="f.submitted && !username.valid">Username is required</div>
    <mat-form-field [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <input matInput type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required
        placeholder="Password" />
    </mat-form-field>
    <div *ngIf="f.submitted && !password.valid">Password is required</div>
    <div>
      <button mat-flat-button color="primary" [disabled]="loading">Login</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
</div>
