<div class="booking-wrapper">
  <div class="hotel-details-card  mat-elevation-z5" fxLayout="row">
    <img [src]="hotel.image" [alt]="hotel.name">

    <div class="hotel-details">
      <h3>{{ hotel.name }}</h3>

      <span class="map-trigger" (click)="showMap = !showMap">
        <mat-icon>map</mat-icon>{{showMap ? 'Hide' : 'Show'}} map
      </span>

      <agm-map
        [ngClass]="showMap ? 'open' : ''"
        [latitude]="hotel.latitude"
        [longitude]="hotel.longitude"
        [zoom]="10">
        <agm-marker [latitude]="hotel.latitude" [longitude]="hotel.longitude"></agm-marker>
      </agm-map>

      <p>{{ hotel.description }}</p>
    </div>
  </div>
  <div class="booking-form-container  mat-elevation-z5">
    <div *ngIf="!hotel.available">
      <p color="primary" style="padding: 16px;">There's no available room at the moment</p>
    </div>
    <div class="booking-result" *ngIf="hotel.available && bookingResult" style="padding: 16px;">
      <h4>{{ bookingResult.title }}</h4>
      <p>{{ bookingResult.message }}</p>
    </div>
    <mat-tab-group *ngIf="hotel.available && !bookingResult" dynamicHeight mat-stretch-tabs [selectedIndex]="tabIndex">
      <mat-tab label="Reservation">
        <div class="tab-content-wrapper" fxLayout="row" fxLayoutAlign="space-around center">

          <mat-form-field fxFlex="">
            <input matInput
              [(ngModel)]="reservationModel.startDate"
              [min]="today"
              [matDatepicker]="startDate"
              placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex="">
            <input matInput
              [(ngModel)]="reservationModel.endDate"
              [min]="reservationModel.startDate || today"
              [matDatepicker]="endDate"
              placeholder="End Date">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex="25">
            <input matInput
              [(ngModel)]="reservationModel.guestNumber"
              type="number"
              placeholder="Guest number"
              value="">
          </mat-form-field>
        </div>
        <div class="contact-info">
          <h4>Contact Info</h4>
          <div fxLayout="row wrap">
            <mat-form-field>
              <input matInput
              [(ngModel)]="reservationModel.firstName"
              placeholder="First name">
            </mat-form-field>

            <mat-form-field>
              <input matInput
              [(ngModel)]="reservationModel.lastName"
              placeholder="Last Name">
            </mat-form-field>

            <mat-form-field>
              <input matInput
              [(ngModel)]="reservationModel.email"
              type="email"
              placeholder="E-Mail">
            </mat-form-field>

            <mat-form-field fxFlex="80">
              <textarea matInput
              [(ngModel)]="reservationModel.address"
              placeholder="Address"></textarea>
            </mat-form-field>

            <mat-form-field>
              <input matInput
              [(ngModel)]="reservationModel.city"
              placeholder="City">
            </mat-form-field>

            <mat-form-field>
              <input matInput
              [(ngModel)]="reservationModel.postalCode"
              maxlength="5"
              placeholder="Postal Code">
            </mat-form-field>
          </div>

          <!-- This is to prevent spam bots -->
          <input
          [(ngModel)]="hnyPot"
          type="checkbox"
          name="i-have-a-unicorn-farm"
          value="1"
          style="display:none !important"
          tabindex="-1"
          autocomplete="off">
        </div>
        <div fxLayoutAlign="end" style="padding: 8px;">
          <button mat-raised-button
          color="primary"
          (click)="tabIndex = tabIndex + 1;">NEXT</button>
        </div>
      </mat-tab>
      <mat-tab label="Payment">
        <div class="payment-info">
          <div fxLayout="row wrap">
            <mat-form-field fxFlex="80">
              <input matInput
              [(ngModel)]="reservationModel.card.number"
              maxlength="16"
              placeholder="Card Number">
            </mat-form-field>

            <mat-form-field fxFlex="80">
              <input matInput
              [(ngModel)]="reservationModel.card.holder"
              placeholder="Cardholder's Name">
            </mat-form-field>

            <mat-form-field fxFlex="30">
              <input matInput
              [(ngModel)]="reservationModel.card.expiration"
              maxlength="5"
              placeholder="Expr. Date">
            </mat-form-field>

            <mat-form-field fxFlex="30">
              <input matInput
              [(ngModel)]="reservationModel.card.securityCode"
              maxlength="3"
              placeholder="CCV">
            </mat-form-field>
          </div>

          <!-- This is to prevent spam bots -->
          <input [(ngModel)]="hnyPot" type="checkbox" name="i-have-a-unicorn-farm" value="1" style="display:none !important"
            tabindex="-1" autocomplete="off">
        </div>
        <div fxLayoutAlign="end" style="padding: 8px;">
          <button mat-raised-button color="primary" (click)="tabIndex = tabIndex + 1;">NEXT</button>
        </div>
      </mat-tab>
      <mat-tab label="Summary">
        <div class="summary-wrap">
          <p>{{reservationModel.firstName + ' ' + reservationModel.lastName }}</p>
          <p>Email: {{reservationModel.email }}</p>
          <p>Reservation for {{ reservationModel.guestNumber }}</p>
          <p>Dates: {{ reservationModel.startDate | date}} - {{ reservationModel.endDate | date }} </p>
          <p>Address: {{ reservationModel.address }}</p>
        </div>
        <div fxLayoutAlign="end" style="padding: 8px;">
          <button mat-raised-button color="primary" (click)="submitBooking()">COMPLETE</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
